.messageText {
    margin-top: 300px;
    bottom: 0;
    width: 80%;
    resize: none;
    height: 100px;
}

.message {
    overflow-wrap: break-word;
}

.dialogWindow {
    overflow-wrap: break-word;
    max-width: 100%;
}

.active {
    color: #006400;
}

.messagesWindow {
    display: grid;
    grid-template-columns: 6fr 6fr;
    padding: 15px;
}