* {
  box-sizing: border-box;
}

.wrapper {
  display: grid;
  grid-template-areas: 'header header header' 'nav content content';
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  width: 1300px;
  margin: 0 auto;
  /*grid-gap: 10px;*/
}

.wrapper__content {
  grid-area: content;
  background-color: darkorange;
}